<ion-item class="item-label item md in-list hydrated" lines="none">
  <ion-avatar slot="start" class="md hydrated">
    <img src="{{ user.picture.large }}" />
  </ion-avatar>
  <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
    <h2>
      {{ user.name.first.toCapitalize() }} {{ user.name.last.toCapitalize() }}
    </h2>
    <p>
      <ion-icon slot="icon-only" name="pin"></ion-icon>
      {{ user.location.city.toCapitalize() }} ,
      {{ user.location.state.toCapitalize() }}
    </p>
  </ion-label>
</ion-item>
