<ion-header no-border padding-top>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="30" src="../../../assets/user-orange.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="PulldownRefresh($event)"
    *ngIf="searchResult.length <= 0"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Downloading friends!..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar
    showCancelButton="focus"
    animated
    [(ngModel)]="searchTerm"
    (ionChange)="setFilterItems()"
  ></ion-searchbar>

  <ion-list>
    <ng-container *ngIf="searchResult.length > 0; else elseTemplate">
      <ng-container *ngFor="let item of searchResult">
        <app-user-card
          [user]="item"
          (click)="openProfile(item)"
        ></app-user-card>
      </ng-container>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-item>
        <ion-label>
          There is not friends. Pull to refresh!
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="downloadMoreFriends($event)"
    *ngIf="searchResult.length >= 0"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
