.rounded {
    border-radius: 50% !important;
    overflow: hidden;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.rounded-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 23px;
}

.text-gray {
    color: var(--ion-color-step-400, #999);
}

.text-orange {
    color: #F96917;
}

