<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Friends
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fullscreen">
  <div justify-content-center text-center>
    <img src="{{ user.picture.large }}" class="rounded" />
    <h1 padding-top no-margin>
      {{ user.name.first.toCapitalize() }} {{ user.name.last.toCapitalize() }}
    </h1>
    <p class="text-orange" no-margin>
      <span>{{ user.dob.age }}, {{ user.gender.toCapitalize() }}</span>
    </p>
    <ion-row>
      <ion-col>
        <ion-row justify-content-center>
          <ion-col>
            <ion-button (click)="call()" fill="clear">
              <ion-icon slot="icon-only" name="call"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label class="text-gray">
            Call
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-col>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label class="text-gray">
            {{ user.location.city.toCapitalize() }}
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-col>
            <ion-button (click)="mail()" fill="clear">
              <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label class="text-gray">
            E-mail
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-list padding-top>
      <ion-item lines="none">
        <ion-label>
          <p>Username</p>
          <h2 class="text-orange">@{{ user.login.username }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Cellphone</p>
          <h2 class="text-orange">{{ user.phone }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Email</p>
          <h2 class="text-orange">{{ user.email }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
